* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #FFFFFF;
    font-family: 'Kodchasan', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.7);
}

.container {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 31px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: #000000;
    margin-left: 42px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.active{
    font-weight: 700 !important;
}

a:active {
    font-weight: 700;
}

.background {
    background-image: url(../imgs/background.png);
    background-size: cover;
    display: flex;
    min-height: 865px;
    margin-bottom: 130px;
    border-radius: 30px;
}

.background-title {
    align-items: flex-end;
}

.background-header {
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    line-height: 130px;
    padding-top: 162px;
    padding-left: 78px;
    padding-bottom: 107px;
    color: rgba(11, 11, 11, 1);
}

.background-buttons {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    padding: 18px 50px;

}
.background-buy-now {
    background: #000000;
    border-color: #000000;
    margin-left: 78px;
    margin-right: 30px;
}
.background-buy-now a {
    text-decoration: none;
    color: #FFFFFF;
}

.background-learn-more {
    border-color: #000000;
    background: transparent;
}

.background-learn-more a {
    text-decoration: none;
    color: #000000;
}

.background-image {
    max-height: 650px;
    margin-top: 124px;
    margin-right: 10.17px;
}

.shops {
    margin-left: 227px;
    margin-right: 177px;
}

.shops-header {
    font-weight: 700;
    font-size: 45px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 50px;
}

.shops-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130.12px;
}

.description {
    display: flex;
    align-items: center;
    margin-bottom: 100.74px;
}

.description-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 145%;
    color: #000000;
    margin-bottom: 30px;
    margin-right: 10px;
}

.description-text {
    margin-right: 43.55px;
    margin-bottom: 50px;
}

.description-buttons {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    padding: 15px 40px;
    background: #E68311;
    border: none;
}

.description-buttons a{
    color: #FFFFFF;
    text-decoration: none;
}

.our-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    margin-left: 177px;
    margin-right: 177px;
}

.product-header {
    font-weight: 700;
    font-size: 45px;
    line-height: 160%;
    color: #000000;
}

.products-all {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    text-decoration-line: underline;
    color: #E58211;
}

.products {
    display: flex;
    justify-content: space-between;
    max-width: 1146px;
    margin: 0 auto;
}

.product {
    background-image: url(../imgs/products-background.png);
    max-width: 558px;
    margin-bottom: 130px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.product-element {
    padding-left: 30px;
}

.product-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #000000;
    padding-top: 45px;
    margin-bottom: 20px;
}

.product-description {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
}

.product-buy-button {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 30px;
    margin-bottom: 39px;
    background: transparent;
    border: 1.5px solid #E68311;
}

.product-buy-button a {
    color: #E68311;
    text-decoration: none;
}

.product-image {
    margin-right: 40px;
}

footer {
    background-image: url(../imgs/footer/footer-background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.footer-section {
    min-height: 137px;
    max-width: 1144.39px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-logo {
    margin-right: 50px;
}

.footer-description {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    min-width: 269px;
    margin-right: 88px;
}

.social-networks-links {
    display: flex;
    list-style: none;
    min-width: 196.52px;
    justify-content: space-between;
}

.app-links {
    display: flex;
    max-width: 301.29px;
    margin-left: 173.58px;

}
.app-links a {
    margin-right: 20px;
}